:root {
  /* Definicja palety kolorów */
  --color-primary: #0D47A1;
  --color-secondary: #1976D2;
  --color-background: #18191A;
  --color-text: #E4E6EB;
  --color-backgrounf-post: #2F3A4A;
  --color-border: #666666;
  --color-background-site: #222;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 250;
}