:root {
  /* Definicja palety kolorów */
  --color-primary: #0d47a1;
  --color-secondary: #1976d2;
  --color-background: #18191a;
  --color-text: #e4e6eb;
  --color-backgrounf-post: #2f3a4a;
  --color-border: #666666;
  --color-background-site: #222;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 250;
}
